@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply relative bg-white text-gray-700 max-w-xs h-fit shadow-lg rounded-lg overflow-hidden font-poppins mx-4;
  }
  .card-content {
    @apply px-2 py-2;
  }
  .card-title {
    @apply font-semibold text-base
    overflow-ellipsis overflow-hidden whitespace-pre-wrap;
  }
  .discount-percent {
    @apply bg-green-400 px-1.5 py-0.5 rounded-md text-xs text-white;
  }
  .button-primary {
    @apply text-xs w-full bg-orange-500 hover:bg-orange-500/80
    px-3 py-1 rounded-sm text-white tracking-wider transition
    md:text-sm md:py-2;
  }
  .button-icon {
    @apply bg-gray-200 hover:bg-gray-200/80 transition rounded-sm px-3 py-1
    md:text-sm
    md:py-2;
  }
  .main_layout {
    @apply bg-neutral-100 md:col-span-3 md:p-4 p-1;
  }
  .sidebar_layout {
    @apply p-4;
  }
}

section {
  padding: 60px 0;
}

.slick-image-things-slider {
  height: 100%;
  object-fit: cover;
}

.flex-grow-1 {
  flex-grow: 1;
}

.slick-slide {
  padding: 0;
}

.img-filter {
  filter: grayscale(100%);
}
.img-filter:hover {
  transition: ease-in-out 0.3s;
  filter: grayscale(0%);
}

.login-btn {
  --mouse-x: 50;
  --mouse-y: 50;

  background-position: calc((100 - var(--mouse-x, 0)) * 1%)
    calc((100 - var(--mouse-y, 0)) * 1%);
  background-image: radial-gradient(
    circle,
    rgba(252, 141, 47, 0.95) 0%,
    rgba(241, 37, 75, 1) 100%
  );
  cursor: pointer;

  font-family: "Raleway", sans-serif;
}

.about-box {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 0.5rem;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  background: #ffffff;
  position: relative;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.about-box::before {
  content: "";
  position: absolute;
  background-color: #cbe0fb;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.5s;
  z-index: -1;
}

.about-box:hover::before {
  background-color: #ff6100;
  top: 0;
  border-radius: 0px;
}

.select-dropdown {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 2px;
  border-right: 1px solid #dce0e0;
  overflow: hidden;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    top: 15px;
    right: 12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    border-color: #b7babd transparent transparent transparent;
    pointer-events: none;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.select-option {
  text-indent: 0.01px;
  text-overflow: "";
  display: block;
  width: 110%;
  padding: 8px 2em 8px 10px;
  transition: border-color 0.2s;
  border: 1px solid #dce0e0;
  border-radius: 2px;
  background-color: #fff;
  color: #565a5c;

  &:focus {
    outline: none;
  }
}

.container-dropdown:focus {
  outline: none;
}

/* Slide down animation starts */

.expandable {
  background: #fff;
  overflow: hidden;
  color: #000;
  line-height: 50px;
  background-color: red;

  transition: all 0.5s ease-in-out;
}

/* Slide down animation ends */

/*Privacy Policy & Terms & Conditions Css*/
.disclosure {
  padding: 0.8rem 0;
}

.disclosure h4 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #000000;
  padding: 0.6rem 0;
}
.disclosure p {
  font-size: 0.9rem;
  color: #333;
}
